:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --lightwhite-color: #F5F5F5;
    --darkblue-color: #364F6B;
    --lightblue-color: #3FC1C9;
    --pink-color: #FC5185;
    --grey-color: #bababa;
    --yellow-color: #ffff00;
    --star-size: 36px;
    --star-color: #fff;
    --star-background: #fc0;
    --smoky-gray-color:#d9d9d9;
    --blue--color:#0B74E5;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}