.main {}

.header {
    overflow: hidden;
    height: 115px;
    background: var(--pink-color);
    box-sizing: border-box;
}

/* Vùng đệm */

.header::after {
    content: "";
    top: 0;
    right: 0;
    height: 81.5px;
    width: calc(50% - 600px);
    position: absolute;
    background-color: var(--darkblue-color);
    border-bottom: 2px solid var(--white-color);
}

@media (min-width: 1024px) and (max-width: 1239px) {
    .header::after {
        width: calc(50% - 492px) !important;
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
    .header::after {
        width: calc(50% - 322px) !important;
    }
}

/* end */

.header-with-search {
    display: flex;
}

.logo {
    flex: 1;
}

.logo-additional {
    position: relative;
    height: 20px;
    margin-left: 35px;
    background-color: var(--darkblue-color);
}

.logo-additional::after {
    position: absolute;
    content: "";
    top: 0;
    left: -10px;
    width: 10px;
    height: 25px;
    border-radius: 100px 0 0 100px;
    border-left: 2px solid var(--white-color);
    border-bottom: 2px solid var(--white-color);
    background-color: var(--darkblue-color);
}

.logo__i {
    border-bottom: 2px solid var(--white-color);
    position: relative;
    height: 63px;
    margin-left: 28px;
    background-color: var(--darkblue-color);
}

.logo__i::after {
    position: absolute;
    content: "";
    top: 0;
    left: -28px;
    width: 28px;
    height: 60px;
    border-radius: 100px 0 0 100px;
    border-left: 2px solid var(--white-color);
    border-top: 2px solid var(--white-color);
    border-bottom: 2px solid var(--white-color);
    background-color: var(--darkblue-color);
}

.logo__img {
    padding-right: 10px;
    width: 100%;
    max-height: 100%;
}

.search {
    border-bottom: 2px solid var(--white-color);
    flex: 2;
    background-color: var(--darkblue-color);
}

.search-ip {
    display: flex;
    border-radius: 3px;
    height: 40px;
    margin-top: 30px;
    background: var(--white-color);
}

.search__input {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    color: var(--text-color);
    padding: 0 10px;
    outline: none;
    margin: 0 5px;
}

.search__btn {
    cursor: pointer;
    border-radius: 3px;
    height: 36px;
    border: none;
    margin: 2px;
    padding: 0 15px;
    background-color: var(--darkblue-color);
}

.search__btn:hover {
    opacity: .8;
}

.search__icon {
    font-size: 16px;
    color: var(--white-color);
}

/* gợi ý tìm kiếm */

.search-more {
    /* display: none; */
    z-index: 3;
    position: absolute;
    top: 68px;
    width: 600px;
    background-color: var(--white-color);
    border-radius: 0 0 3px 3px;
}

.search-more__group {
    padding: 0;
    font-size: 14px;
    color: var(--text-color);
    margin: 10px;
}

.search-more__item {
    padding: 10px;
    text-transform: capitalize;
    list-style: none;
    cursor: pointer;
}

.search-more__item:hover {
    background-color: var(--lightwhite-color);
}


.with-login-register {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid var(--white-color);
    flex: 1;
    background-color: var(--darkblue-color);
}

.login-register {
    /* display: none; */
    margin-top: 17px;
}

.loginr {
    color: var(--white-color);
    text-decoration: none;
    font-size: 14px;
    padding: 8px 8px;
    box-shadow: 0 0 1px var(--white-color);
    border-radius: 3px;
    margin-left: 10px;
}

.loginr:hover {
    box-shadow: 0 0 5px var(--white-color);
    background-color: var(--lightblue-color);
}

.login-success {
    margin-top: 17px;
}

.login-success__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}

.login-success__link:hover .login-success-plus {
    display: block;
}

/* Thông tin tài khoản */

.login-success-plus {
    display: none;
    padding-top: 5px;
    margin: 0;
    border-radius: 3px;
    background-color: var(--white-color);
    top: 64px;
    position: absolute;
    width: 147px;
    z-index: 3;
    padding-left: 0;
}

.login-success-plus__i {
    list-style: none;
    margin-bottom: 5px;
    padding: 8px 5px;
}

.login-success-plus__i a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 13px;
    padding: 10px;
}

.login-success-plus__i:hover {
    background-color: var(--lightwhite-color);
}

/*  */

.login-success__img {
    height: 30px;
}

.login-success__name {
    padding-left: 5px;
    font-size: 12px;
    color: var(--white-color);
    margin-left: 5px;
    width: 100px;
    height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.login-success__icon {
    font-size: 12px;
    color: var(--white-color);
    margin-left: 5px;
}

.cart {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.cart__icon {
    position: relative;
    color: var(--white-color);
    font-size: 25px;
}

.cart__number {
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    padding-left: 5px;
    padding-top: 3px;
    background-color: var(--pink-color);
    width: 23px;
    height: 23px;
    top: -14px;
    right: -12px;
    border-radius: 50px;
    border: 3px solid var(--darkblue-color);
}

.cart__icon:hover {
    color: var(--white-color);
    opacity: .9;
}

.header__nav {
    display: flex;
    margin-left: 10px;
    margin-bottom: 3px;
}

.header__nav--menu {
    display: flex;
    margin-top: 5px;
}

.menu-icon {
    margin-top: 3px;
    font-size: 23px;
    color: var(--darkblue-color);
}

.menu-text {
    margin-top: 6px;
    font-size: 18px;
    font-weight: 700;
    margin-left: 10px;
    color: var(--darkblue-color);
    text-transform: uppercase;
}

/* 1231212312 */
.main__content {
    /* height: 2000px; */
    width: 100%;
    background-color: var(--lightwhite-color);
}

.category-list {
    overflow-x: hidden;
    overflow-y: scroll;
    padding-left: 0;
    margin: 2px 0 0 0;
    height: 430px;
    width: 100%;
    background-color: var(--white-color);
    border-radius: 3px;
    box-shadow: 1px 1px 2px var(--grey-color);
}

.category__title {
    margin-bottom: 3px;
    background-color: var(--darkblue-color);
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    color: #fff;
}

.category__title i {
    margin: 0 5px;
}

/* Thanh cuộn danh mục */

.category-list::-webkit-scrollbar {
    width: 2px;
    background-color: var(--white-color);
}

.category-list::-webkit-scrollbar-thumb {
    background-color: var(--darkblue-color);
    border-radius: 10px;
}

/*  */

.category__group {
    position: relative;
}

.category-item {
    padding-bottom: 3px;
    list-style: none;
    font-size: 14px;
}

.category__link {
    padding: 12px 10px;
    display: flex;
    justify-content: space-between;
    color: var(--text-color);
    text-transform: capitalize;
    text-decoration: none;
}

.category__link:hover {
    color: var(--darkblue-color);
    background: var(--lightwhite-color);
}

.category-item:hover .content__subcategory {
    display: block;
}


.category-icon {
    color: var(--grey-color);
    font-size: 12px;
    padding: 2px 0;
}

.content__slider {
    /* position: relative; */
}

swiper-container {
    width: 100%;
    height: 430px;
    margin-top: 2px;
    border-radius: 2px;

}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
}

swiper-container {
    margin-left: auto;
    margin-right: auto;
}

.slider__img {
    height: 430px;
    width: 100%;
}

.slide__link {
    width: 100%;
}

:root {
    --swiper-navigation-color: #fff;
    --swiper-pagination-color: #fff;
}

.content__subcategory {
    margin-top: 2px;
    position: absolute;
    height: 430px;
    min-width: 1001.99px;
    background-color: #fff;
    top: 0;
    left: 198px;
    z-index: 2;
    display: none;
}

.content__subcategory-img {
    height: 430px;
    width: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
}

.subcategory__title-gr {
    position: absolute;
    top: 0;
    list-style: none;
    padding: 0;
    padding-left: 20px;
}

.subcategory__heading {
    color: var(--text-color);
}

.subcategory__title {
    margin: 15px 0;
    font-size: 14px;
}

.subcategory__title-link {
    text-decoration: none;
    color: var(--text-color);
}

.subcategory__title-link:hover {
    color: var(--pink-color);
}

.brands__title-gr {
    position: absolute;
    top: 0;
    left: 170px;
    list-style: none;
    padding: 0;
}

.weightage__title-gr {
    position: absolute;
    top: 0;
    left: 340px;
    list-style: none;
    padding: 0;
}

.flast-sale {
    background: #fff;
    margin: 10px 0;
    box-shadow: 1px 1px 3px var(--grey-color);
    border-radius: 3px;

}

.flast-sale__titles {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.flast-sale__title {
    display: flex;
    align-items: center;
}

.flast-sale__title-text {
    font-size: 16px;
    font-weight: 700;
    color: var(--text-color);
}

.count-time {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.count-time__number {
    user-select: none;
    box-shadow: 2px 2px 3px var(--grey-color);
    color: var(--white-color);
    font-size: 16px;
    padding: 5px;
    background: var(--pink-color);
    margin: 0 5px;
    border-radius: 3px;
}

.count-time__colon {
    font-size: 16px;
    color: var(--text-color);
}

.flast-sale__more {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: var(--darkblue-color);
    font-weight: 500;
    text-decoration: none;
}

.flast-sale__more-i {
    margin-top: 2px;
    padding-left: 10px;
}

.flast-sale__list {}

.flast-sale__item {}

.flast-sale__link {
    text-decoration: none;

}

.flast-sale__item:hover .sale__item-img {
    scale: 1.02;
}

.sale__item-img {
    height: 150px;
    width: 100%;
    object-fit: scale-down;
    padding: 0 25px;
}


.flast-sale__name {
    font-size: 13.5px;
    color: var(--text-color);
    padding: 5px 10px 0;
    height: 37px;
    overflow: hidden;
    /* dau ba cham */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /*  */
}

.flast-sale__price {
    justify-content: space-between;
    display: flex;
    padding: 5px 15px 15px;

}

.sale__price-old {
    opacity: .7;
    color: var(--darkblue-color);
    font-size: 14px;
    text-decoration: line-through;
}

.copper {
    text-decoration: underline;
}

.sale__price-new {
    color: var(--pink-color);
    font-size: 14px;
}

.title__for-you {
    display: flex;
    justify-content: center;
    font-size: 16px;
    text-transform: uppercase;
    background: var(--white-color);
    padding: 15px 0;
    border-radius: 3px 3px 0 0;
    border-bottom: 5px solid var(--pink-color);

    /* box-shadow: 1px 1px 3px var(--darkblue-color); */
}

.product__list {}

.product__item {
    margin-top: 10px;
}

.product__item-link {
    position: relative;
    background: var(--white-color);
    box-shadow: 0 0 1px var(--darkblue-color);
    border-radius: 3px;
    overflow: hidden;
}

/* .favorite-btn {
    padding: 9px 0;
    width: 80px;
    background-color: var(--pink-color);
    border: none;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: -50px;
    right: 0;
    transition: top 0.3s;
    z-index: 10;
    font-size: 12px;
    border-bottom-left-radius: 5px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .1);
} */

.favorite-btn {
    padding: 5px 10px 8px;
    background-color: var(--star-background);
    border: none;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: -80px;
    right: 3px;
    transition: top 0.3s;
    z-index: 10;
    font-size: 23px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .1);
}

.favorite-btn i {
    padding-top: 6px;
    border-top: 2px solid #c79f00;
}

.favorite-btn::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 11;
    width: 0;
    height: 0;
    border-left: 21.6px solid var(--star-background);
    border-bottom: 10px solid transparent;
    border-bottom-left-radius: 5px;
}

.favorite-btn::before {
    content: "";
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 11;
    width: 0;
    height: 0;
    border-right: 21.6px solid var(--star-background);
    border-bottom: 10px solid transparent;
    border-bottom-right-radius: 5px;
}


.pb__35 {
    padding-bottom: 35px;
}

.product__item-link:hover .favorite-btn {
    top: 0;
    /* Hiển thị nút yêu thích khi hover vào sản phẩm */
}

.favorite-btn:hover {
    opacity: .9;
}

.favorite-btn.clicked {
    color: var(--pink-color);
}

.product__item-link:hover {
    box-shadow: 0px 0px 10px var(--grey-color);
}

.product__item-link:hover .product__img {
    scale: 1.01;
}

.product__item-link a {
    text-decoration: none;
}

.product__img {
    padding-top: 3px;
    height: 170px;
    width: 100%;
    object-fit: scale-down;
}

.product__name {
    color: var(--text-color);
    padding: 5px 10px 0;
    font-size: 14px;
    height: 37px;
    overflow: hidden;
    /* dau ba cham */
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.product__price {
    color: var(--pink-color);
    font-size: 14px;
    padding: 5px 10px;
}

.product__group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product__assess {
    padding-right: 15px;
    font-size: 12px;
}

.product__assess i {
    color: #f9e800;
    margin-left: 3px;
}

.btn-pink {
    border-radius: 3px;
    border: 1px solid var(--pink-color);
    padding: 5px;
}

.btn-pink:hover {
    background-color: var(--lightwhite-color);
}

.product__with-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px 10px;
}

.product__buy-now {
    font-size: 10px;
    color: var(--text-color);
}

.product__cart {
    background-color: var(--white-color);
    cursor: pointer;
    border: none;
    color: var(--darkblue-color);
    font-size: 25px;
    margin-right: 3px;
}

.product__cart:hover {
    opacity: .8;
}

.see-more {
    padding-bottom: 15px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.see-more__link {
    cursor: pointer;
    background-color: var(--white-color);
    text-decoration: none;
    padding: 10px 100px;
    font-size: 14px;
    color: var(--text-color);
}

.footer {
    box-shadow: 0 0 5px var(--darkblue-color);
    background-color: var(--darkblue-color);
}

.footer__link {}

.footer__logo {
    height: 60px;
    margin-top: 5px;
}

.footer__title {
    color: var(--white-color);
    padding: 10px 15px 0;
}

.footer__list {
    list-style: none;
    padding: 0;
    margin: 0 15px;
    padding-bottom: 30px;
}

.footer-item {
    font-size: 12px;
    padding: 5px 0;
}

.footer-item-link {
    color: var(--white-color);
    text-decoration: none;
}

.icon__group {
    display: flex;
    margin: 0 10px;
}

.footer__icon {
    margin: 0 5px;
}

.footer__icon img {
    height: 35px;
    width: 35px;
}

/* CSS DETAILS */

.details {
    padding-bottom: 20px;
}

.details__group {
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--white-color);
}

.details__g-img {
    margin-top: 10px;
}

.details__img {
    object-fit: scale-down;
    height: 100%;
    width: 80%;
}

.details__img-group {
    object-fit: scale-down;
}

.mySwiper2 {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper2 swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.mySwiper2 .swiper-slide-thumb-active {
    opacity: 1;
}

.product__breadcrumb {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 20px 5px;
}

.product__breadcrumb a {
    text-decoration: none;
    color: var(--lightblue-color);
}

.product__breadcrumb i {
    margin: 0 10px;
    color: var(--grey-color);

}

.details__name {
    margin: 20px 20px 5px;
    font-size: 20px;
    text-transform: uppercase;
}

.details__group-evaluate {
    display: flex;
    align-items: center;
}

.star__evaluate {
    margin: 10px 0;
    padding: 2px 20px;
    display: flex;
    align-items: center;
    font-size: 16px;
    border-right: 1px solid var(--grey-color);
    color: var(--text-color);
}

.star__evaluate i {
    color: var(--pink-color);
}

.star__evaluate span {
    border-bottom: 1px solid var(--text-color);
    margin-right: 2px;
    padding: 3px 0;
}

.details__sold {
    padding: 10px 15px;
    font-size: 16px;
    display: flex;
}

.star__evaluate-text {
    color: #737272;
    margin-left: 5px;
}

.details__price {
    margin: 20px 20px;
    color: var(--pink-color);
    padding: 20px 10px;
    border-radius: 10px;
    background-color: var(--lightwhite-color);
    font-size: 26px;
}

.details__quantity {
    display: flex;
    align-items: center;
    padding: 20px;
}

.details__quantity-text {
    font-size: 14px;
    color: #737272;
    font-weight: 500;
}

.details__quantity-add {
    display: flex;
    align-items: center;
    margin: 0 20px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid var(--grey-color);
}

.details__quantity-input {
    text-align: center;
    border: none;
    height: 25px;
    width: 50px;
    font-size: 16px;
}

.details__quantity-input::-webkit-inner-spin-button,
.details__quantity-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.minus-btn {
    cursor: pointer;
    padding: 5px 12px;
    border: none;
    font-size: 16px;
    margin-right: 3px;
    border-radius: 5px;
}

.plus-btn {
    cursor: pointer;
    padding: 5px 12px;
    border: none;
    font-size: 16px;
    margin-left: 3px;
    border-radius: 5px;
}

.details__cart {
    display: flex;
    margin: 20px;
}

.details__cart-add {
    cursor: pointer;
    color: var(--darkblue-color);
    background-color: var(--white-color);
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 16px;
    border: 1px solid var(--darkblue-color);
    margin-right: 20px;
}

.details__cart-add:hover {
    background-color: var(--lightwhite-color);
}

.details__cart-add i {
    margin-right: 10px;
}

.details__cart-buy {
    cursor: pointer;
    color: var(--white-color);
    background-color: var(--darkblue-color);
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 16px;
    margin-right: 10px;
    border: none;
}

.details__cart-buy:hover {
    opacity: .9;
}

.details__information {
    margin-top: 10px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}

.details__information-groups {
    position: relative;
    background-color: var(--white-color);
    overflow: hidden;
}

.details__gradian {
    position: absolute;
    bottom: 60px;
    width: 100%;
    height: 200px;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
}

.details__more {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.details__btn-more {
    cursor: pointer;
    background-color: var(--white-color);
    padding: 10px 50px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid var(--blue--color);
    color: var(--blue--color);
}

.details__btn-more:hover {
    background-color: var(--blue--color);
    color: var(--white-color);
}

.details__information-group {
    background-color: var(--lightwhite-color);
    margin: 10px 0;
    border-radius: 5px;
}

.details__information-title {
    display: flex;
    color: var(--text-color);
}

.information__text {
    cursor: pointer;
    flex: 1;
    text-align: center;
    font-size: 16px;
    padding: 12px;
    margin: 3px;
}

.information__text a {
    text-decoration: none;
    color: var(--text-color);
}

.text__active {
    background-color: var(--white-color);
    border-radius: 5px;
}

.details__table {
    line-height: 18px;
    margin: 20px 0;
    font-size: 16px;
    color: var(--text-color);
    width: 100%;
    border-collapse: collapse;
}

.details__table td {
    border: 1px solid var(--grey-color);
    text-align: left;
    padding: 20px;
}

.details__table tr:nth-child(odd) {
    background-color: var(--lightwhite-color);
}

.td__01 {
    width: 33%;
}

.details__describe {
    font-size: 16px;
    color: var(--text-color);
    line-height: 28px;
    margin-bottom: 20px;
}

.details__describe img {
    width: 100%;
}

.products-relate {
    padding-bottom: 10px;
    background-color: var(--white-color);

}

.details__evaluate {
    padding-bottom: 10px;
    border-radius: 5px;
    margin-top: 10px;
    background-color: var(--white-color);
    overflow: hidden;
}

.details__evaluate-title {
    font-size: 20px;
    padding: 20px;
    font-weight: 500;
    color: var(--pink-color);
}

.details__evaluate-title i {
    padding-left: 5px;
}

.details__evaluate-rating {}

.details__evaluate-comment {}

.review-rating__summary {
    padding: 20px 10px;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.review-rating__point {
    padding: 10px;
    font-size: 28px;
    font-weight: 700;
}

.review-rating__stars {
    padding-left: 10px;
}

.review-rating__star {
    --percent: calc(var(--rating) / 5 * 100%);
    display: inline-block;
    font-size: var(--star-size);
    font-family: Times;
    line-height: 1;
}

.review-rating__star::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--grey-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.review-rating__total {
    padding: 5px 0;
    font-size: 16px;
    color: var(--grey-color);
}

.review-rating__detail {
    display: block;
}

.review-rating__level {
    display: flex;
    padding: 5px 0;
    align-items: center;
}

.review-rating__group {
    flex: 2;
    text-align: center;
    font-size: 12px;
    color: var(--smoky-gray-color);
}

.review-rating__processbar {
    flex: 3;
    overflow: hidden;
    height: 8px;
    border-radius: 3px;
    background-color: var(--smoky-gray-color);
}

.rating__processbar-cushion {
    height: 8px;
    background-color: var(--darkblue-color);
}

.review-rating__number {
    flex: 1;
    text-align: center;
    font-size: 12px;
    color: var(--text-color);
}

.star__active {
    color: var(--star-background);
}

.evaluate__comment-rating {
    display: flex;
    padding: 10px 0;
}

.evaluate__comment-avatar {
    margin-right: 10px;
}

.evaluate__comment-avatar img {
    width: 40px;
    height: 40px;
    object-fit: scale-down;
}

.evaluate__comment-main {
    display: block;
}

.evaluate__comment-username {
    font-size: 14px;
    font-weight: 500;
    color: var(--text-color);
}

.evaluate__comment-username span {
    font-size: 12px;
    font-weight: 400;
    padding-left: 5px;
}

.evaluate__comment-star {
    padding: 5px 0;
    font-size: 20px;
}

.evaluate__comment-text {
    font-size: 12px;
    margin-top: 5px;
    padding-bottom: 10px;
}

.details__comments {
    margin-top: 10px;
    border-radius: 5px;
    background-color: var(--white-color);
}

.details__comment {
    display: flex;
    align-items: center;
    width: 100%;
}

.details__comment-form {
    flex: 1;
    display: flex;
    padding-right: 20px;
}

.width-100 {
    width: 100%;
}

.pd-10 {
    padding: 10px 20px;
}

.details__comment-group {}

.details__comment-input {
    width: 100%;
    font-size: 16px;
    outline: none;
    border-radius: 20px;
    padding: 10px 15px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
    border: 1px solid var(--lightblue-color);
    background-image: linear-gradient(to right, #E3FDF5, #FFF1EB);
}

.details__comment-send {
    margin-left: 10px;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    color: var(--pink-color);
    background-image: linear-gradient(to right, #E3FDF5, #FFF1EB);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
}

.details__comment-send:hover {
    opacity: .8;
}

.details__comment-background {
    background-image: linear-gradient(to right, #E3FDF5, #FFF1EB);
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 10px;
}


/* Css Cart page */

.products__cart {
    padding: 20px 0;
    position: relative;
}

.products__cart-title {
    font-size: 20px;
    color: var(--text-color);
    font-weight: 500;
    text-transform: uppercase;
}

.cart__header {
    font-weight: 500;
    font-size: 14px;
    color: var(--text-color);
    display: flex;
    align-items: center;
    background-color: var(--white-color);
    padding: 15px 10px;
    margin-top: 15px;
    border-radius: 5px;
}

.cart__header--products {
    display: flex;
    align-items: center;
    flex: 3;
}

.cart__header--products input {
    height: 18px;
    width: 18px;
    border: 1px solid var(--grey-color);
    margin-right: 10px;
}

.cart__header--item {
    flex: 1;

}

.products__cart-group {
    background-color: var(--white-color);
    margin: 10px 0;
}

.products__cart-item {
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--text-color);
}

.products__cart-i {
    flex: 3;
    display: flex;
    align-items: center;
}

.products__cart-i a {
    display: flex;
    align-items: center;
    color: var(--text-color);
    text-decoration: none;
}

.products__cart-i input {
    height: 18px;
    width: 18px;
    border: 1px solid var(--grey-color);
    margin-right: 10px;
}

.product__cart-img {
    object-fit: scale-down;
    width: 100px;
    height: 100px;
}

.product__cart-name {}

.products__cart-other {
    flex: 1;
}

.products__cart-other .details__quantity-add {
    margin: 0 0;
    border: none;
    margin-left: -10px;
}

.cart-btn-delete {
    color: var(--pink-color);
    background-color: var(--white-color);
    border: 1px solid var(--pink-color);
    border-radius: 3px;
    padding: 3px 15px;
    cursor: pointer;
}

.cart__order {
    font-size: 14px;
    color: var(--text-color);
    padding: 15px 10px;
    background-color: var(--white-color);
    border-radius: 5px;
}

.check__coupon-cart {
    display: none;
}

.coupon__cart-cushion {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* tạo một lớp mờ */
    z-index: 1;
    /* đặt z-index cao để lớp nằm đè lên toàn bộ trang web */
}

.coupon__cart-form {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white-color);
    width: 600px;
    height: 500px;
    z-index: 2;
    border-radius: 5px;
    box-shadow: 0 0 3px var(--grey-color);
}

.coupon__cart-title {
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.coupon__cart-close {
    cursor: pointer;
}

.coupon__cart-group {
    margin: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--lightwhite-color);
    padding: 10px;
    border-radius: 3px;
}

.coupon__cart-text {
    font-size: 14px;
    color: var(--text-color);
}

.coupon__cart-input {
    flex: 1;
    margin: 0 10px;
    border-radius: 3px;
    border: 1px solid var(--grey-color);
    padding: 10px;
    font-size: 14px;
}

.coupon__cart-apply {
    cursor: pointer;
    border: none;
    background-color: var(--white-color);
    font-size: 14px;
    border-radius: 3px;
    padding: 10px 15px;
    box-shadow: 1px 1px 1px var(--grey-color);
}

.coupon-error {
    padding: 0 20px;
    font-size: 12px;
    color: var(--pink-color);
}

.coupon__cart-list {
    /* height: 386.3px; */
    height: 360px;
    padding: 10px 20px;
    overflow-y: scroll;
}

.coupon__cart-item {
    display: flex;
    margin: 5px 0;
}

.coupon__item-left {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 5px;
    border: 2px solid var(--grey-color);
    border-right: none;
}

/* .coupon__item-left::after {
    position: absolute;
    top: -14px;
    right: -11px;
    content: "";
    z-index: 3;
    padding: 9px;
    border-radius: 50px;
    background-color: var(--white-color);
    border-bottom: 2px solid var(--grey-color);
}

.coupon__item-left::before {
    position: absolute;
    bottom: -14px;
    right: -11px;
    content: "";
    z-index: 3;
    padding: 9px;
    border-radius: 50px;
    background-color: var(--white-color);
    border-top: 2px solid var(--grey-color);
} */

.coupon__item-promotion {
    font-size: 30px;
    font-weight: 700;
    color: var(--grey-color);
}

.coupon__item-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 100px;
    flex: 1;
    border-radius: 5px;
    border: 2px solid var(--grey-color);
    border-left: none;
}

.coupon__item-title {
    flex: 1;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: var(--darkblue-color);
}

.coupon__item-btn {
    cursor: pointer;
    border-radius: 3px;
    margin-right: 30px;
    background: var(--white-color);
    border: 1px solid var(--lightblue-color);
}

.cart__order-coupon {
    padding: 5px 0;
    cursor: pointer;
    color: var(--blue--color);
}

.cart__order-title {
    font-size: 18px;
}

.summary-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.summary-info__group {
    display: flex;
    align-items: center;
}

.delete__coupon {
    background: var(--white-color);
    color: var(--darkblue-color);
    border-radius: 3px;
    border: 1px solid var(--pink-color);
    cursor: pointer;
    margin-left: 10px;
    padding: 5px 10px;
}

.delete__coupon i {
    margin-left: 15px;
    color: var(--pink-color);
}

.cart-empty {
    text-align: center;
    padding: 150px 0;
}

.img-cart-drum {
    height: 100px;
    width: 100px;
}

.cart-empty-title {
    font-size: 18px;
    color: var(--grey-color);
    padding-bottom: 20px;
}

.cart-empty-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 10px 20px;
    font-size: 14px;
    background-color: var(--white-color);
    cursor: pointer;
}

.cart__btn-buynow {
    background-color: var(--pink-color);
    border: none;
    padding: 10px 30px;
    color: var(--white-color);
    border-radius: 3px;
    cursor: pointer;
    margin: 3px 0;
    box-shadow: 0 0 3px var(--darkblue-color);
}

.cart__btn-buynow:hover {
    opacity: .9;
}

/* nav bar */

.nav__bar {}

.nav__bar-group {
    width: 100%;
    margin: 0;
    margin-top: 8px;
    list-style: none;
    padding: 0;
}

.nav__bar-item {
    font-size: 14px;
    font-weight: 400;

}

.nav__bar-link {
    text-decoration: none;
    color: var(--darkblue-color);
}

.nav__bar-link:hover {
    color: var(--white-color);
}

.nav__bar-link i {
    margin-right: 6px;
}


/* Toast */
.toast-success {
    background-color: #02c102 !important;
    opacity: 1 !important;
}

.toast-progress {
    background-color: #fff !important;
}

.toast-title {
    font-size: 15px;
}

/* Pagination */
.pagination {
    font-size: 14px;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination__nav {
    display: flex;
    padding: 10px;
    background-color: var(--white-color);
    width: fit-content;
    border-radius: 5px;

}

.pagination__group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 0.5rem;
}

.pagination__crumb {
    cursor: pointer;
    background-color: var(--white-color);
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: var(--text-color);
    border-radius: 0.2rem;
    border: 0.0625rem solid var(--grey-color);
    /* 1px */
}

.pagination__crumb:hover,
.crumb__active {
    background-color: var(--pink-color);
    color: var(--white-color);
    border-color: var(--grey-color);
}

.crumb__default {
    cursor: default;
    pointer-events: none;
    background-color: var(--lightwhite-color);
}

.crumb__prev {
    margin-left: 10px;
}

.crumb__next {
    margin-right: 10px;
}

/* Shop page */

.shop-filter-panel {}

.shop-category__list {
    padding-left: 5px;
}

.shop-category__title {
    font-size: 16px;
    font-weight: 500;
    padding: 15px 0px;
    color: var(--darkblue-color);
    user-select: none;
    border-bottom: 1px solid var(--grey-color);
}

.shop-category__title i {
    margin-right: 5px;
}

.title__cursor {
    cursor: pointer;
    display: block;
}

#c__title-checkbox {
    display: none;
}

.show__category-group {
    font-size: 14px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.show__category-item {
    position: relative;
}

.show__category-link {
    color: var(--text-color);
    padding: 8px 10px;
    display: block;
    text-decoration: none;
}

.show__category-item:hover {
    background-color: var(--white-color);
}

.show__category-item:hover .show__subcategory-group {
    display: block;
}

.show__subcategory-group {
    position: absolute;
    top: 0;
    left: 100%;
    display: none;
    font-size: 14px;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: var(--white-color);
    z-index: 1;
    width: 100%;
    border-radius: 3px;
}

.show__subcategory-link {
    color: var(--text-color);
    padding: 8px 12px;
    display: block;
    text-decoration: none;
}

.show__subcategory-link:hover {
    background-color: var(--white-color);
}

.shop-category__dad {
    padding: 10px 8px 5px 8px;
    font-size: 16px;
    color: var(--text-color);
}

.category__dad-link {
    color: var(--text-color);
    text-decoration: none;
}

.shop-category__dad i {
    padding-right: 5px;
}

.shop-category__childs {
    display: flex;
    font-size: 14px;
    align-items: center;
}

.shop-category__child {
    padding: 8px 10px;
    display: block;
    color: var(--text-color);
    font-size: 14px;
    text-decoration: none;
}

.shop-category__subtitle {
    color: var(--pink-color);
    font-size: 16px;
    padding: 5px 10px;
}

.shop-category__checkbox {
    padding: 5px 15px;
    font-size: 14px;
    color: var(--text-color);

}

.shop-categories__checkbox {
    padding: 8px 5px;
    font-size: 14px;
    color: var(--text-color);
    display: flex;
    position: relative;
}

.shop-categories__checkbox input {
    display: none;
}

.checkbox__custom {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    border: 2px solid #9e9e9e;
    border-radius: 3px;
    transition: all .3s;
}

.shop-categories__checkbox input:checked+.checkbox__custom {
    border: 10px solid var(--lightblue-color);
    animation: bounce 250ms;
}

.shop-categories__checkbox input:checked+.checkbox__custom::after {
    content: '';
    position: absolute;
    top: 14px;
    left: 9px;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    transform: rotate(45deg);
    transform-origin: 0% 100%;
    animation: checked-box 125ms 250ms forwards;
}

@keyframes checked-box {
    0% {
        width: 0;
        height: 0;
        border-color: var(--white-color);
        transform: translate(0, 0) rotate(45deg);
    }

    33% {
        width: 4px;
        height: 0;
        border-color: var(--white-color);
        transform: translate(0, 0) rotate(45deg);
    }

    100% {
        width: 4px;
        height: 8px;
        border-color: var(--white-color);
        transform: translate(0, -8px) rotate(45deg);
    }
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }

    33% {
        transform: scale(.7);
    }

    100% {
        transform: scale(1);
    }
}

.shop-category__checktext {
    padding-left: 10px;
    cursor: pointer;
}

.shop-price__range {
    padding: 5px 10px;
    font-size: 14px;
    color: var(--text-color);
    overflow: hidden;
}

.shop-price__range-input {
    padding: 5px 3px;
    width: 100%;
    outline: none;
    border-radius: 3px;
    border: 1px solid var(--grey-color);
}

.shop-price__range-apply {
    width: 100%;
    color: var(--white-color);
    font-size: 14px;
    padding: 8px 15px;
    background-color: var(--pink-color);
    border-radius: 3px;
    border: none;
    cursor: pointer;
}


.shop-main {}

.shop-sort-bar {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    background-color: var(--white-color);
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    align-items: center;
    color: var(--text-color);
}

.shop-sort-by-options {
    display: flex;
    align-items: center;
}

.shop-sort-bar__label {
    color: var(--grey-color);
    font-weight: 500;
    margin: 0 15px;
}

.shop-sort-by-option {
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid var(--pink-color);
    border-radius: 3px;
    padding: 8px 15px;
    background-color: var(--lightwhite-color);
}

.shop-sort-by-option:hover {
    opacity: .6;
}

.btn-shop__active {
    background-color: var(--pink-color);
    color: var(--white-color);
}

.shop-mini-page-controller {}

.shop-sort-by__select {
    cursor: pointer;
    color: var(--text-color);
    outline: none;
    padding: 8px 35px;
    background-color: var(--white-color);
    border-radius: 3px;
    border: 1px solid var(--grey-color);
}

/* Checkout page */
.checkout-title {
    color: var(--text-color);
    font-size: 16px;
    padding: 30px 10px;
}

.checkout-link {
    color: var(--text-color);
    text-decoration: none;
    padding-right: 10px;
    border-right: 1px solid var(--text-color);
}

.checkout-group {
    padding-bottom: 20px;
}

.checkout-main {
    background-color: var(--white-color);
    border-radius: 5px;
}

.checkout-text {
    padding: 20px;
    font-size: 16px;
    color: var(--pink-color);
}

.checkout-text i {
    padding-right: 5px;
}

.checkout-form__address {
    padding: 0 20px;
}

.checkout__address-group {
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    font-size: 14px;
    color: var(--text-color);
}

.checkout__address-name {
    flex: 1;
    min-width: 300px;
    display: flex;
    flex-direction: column;
}

.checkout__address-label {}

.checkout-error {
    margin: 0;
    color: red;
    font-size: 12px;
}

.checkout__address-input {
    outline: none;
    padding: 10px;
    margin: 5px 0;
    margin-right: 20px;
    border-radius: 3px;
    border: 1px solid var(--grey-color);
}

.checkout__address-city {
    flex: 1;
    min-width: 200px;
    display: flex;
    flex-direction: column;
}

.cursor-default {
    cursor: not-allowed;
}

.checkout__address-implement {
    cursor: pointer;
    padding-right: 10px;
}

.checkout__products {
    position: relative;
    margin-top: 30px;
    padding: 20px 10px;
    border-radius: 10px;
    box-shadow: 0 0 1px var(--lightblue-color);
}

.checkout__products-title {
    position: absolute;
    top: -9px;
    left: 18px;
    font-size: 16px;
    color: var(--pink-color);
    background-color: #fff;
    padding: 0 15px;
}

.checkout__products-item {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.checkout__products-img {
    height: 80px;
    width: 80px;
    object-fit: scale-down;
}

.checkout__products-name {
    font-size: 14px;
    color: var(--text-color);
    padding-left: 10px;
    flex: 3;
}

.checkout__products-text {
    font-size: 14px;
    color: var(--text-color);
    flex: 1;
}

.checkout__products-text span {
    padding-right: 10px;
}

.checkout__infor {
    padding: 20px 0;
}

.checkout__infor-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkout__infor-text {
    font-size: 16px;
    color: var(--text-color);
}

.checkout__infor-pay {
    font-size: 14px;
    color: var(--text-color);
}

.checkout__infor-pay-group {
    display: flex;
    align-items: center;
    padding: 10px 0;

}

.checkout__pay-checkbox {
    margin: 10px;
}

.checkout__pay-label {
    cursor: pointer;

}

.checkout__pay-checkbox:checked+.checkout__pay-icon {
    transform: scale(1.2);
}

.checkout__pay-icon {
    height: 35px;
    width: 35px;
    object-fit: fill;
    margin-right: 10px;
    cursor: pointer;
    transition: linear 0.3s;
}

.checkout__infor-item {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: var(--text-color);
    align-items: center;
}

.checkout__infor-item-money {
    font-size: 20px;
    color: var(--pink-color);
}

.btn__checkout {
    background: var(--pink-color);
    padding: 10px 0;
    width: 100%;
    border: none;
    color: var(--white-color);
    float: right;
    margin-top: 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.btn__checkout:hover {
    opacity: .9;
}

.checkout__infor-contain {
    display: flex;
    align-items: flex-end;
}

.checkout__infor-contain-g {
    width: 100%;

}

/* User Order */
.order__user {
    display: flex;
    align-items: center;
}

.order__user-img {
    height: 40px;
    width: 40px;
    object-fit: scale-down;
}

.order__user-group {
    font-size: 12px;
    color: var(--text-color);
    padding-left: 10px;
}

.order__user-name {
    font-size: 14px;
    padding-top: 3px;
    font-weight: 500;
}

.order__nav {
    list-style: none;
    padding: 0;
}

.order__nav li {}

.order__nav>li>a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 14px;
    display: block;
    padding: 12px 10px;
}

.order__nav>li>a:hover {
    background-color: var(--smoky-gray-color);
}

.order__nav-active {
    background-color: var(--smoky-gray-color);
}

.order__main {
    min-height: 300px;
    margin-bottom: 20px;
    padding: 10px 0;
}

.order-title {
    padding: 10px 10px;
    font-size: 16px;
    color: var(--text-color);
}

.order-table {
    width: 100%;
    font-size: 12px;
    color: var(--text-color);
}

.order-table th {
    text-align: left;
}

.order-table td {
    padding: 15px 0;
}

.btn-orderdetails {
    text-decoration: none;
    padding: 5px 10px;
    background-color: var(--blue--color);
    border-radius: 3px;
    color: var(--white-color);
}

.order__navbar {
    text-align: center;
    display: flex;
    color: var(--text-gray-color);
    font-size: 14px;
    background-color: var(--white-color);
}

.order__nav-item {
    flex: 1;
    padding: 12px 0;
    cursor: pointer;
}

.order__navbar-active {
    color: var(--blue--color);
    border-bottom: 1px solid var(--blue--color);
}

.orders-empty {
    text-align: center;
}

.img-orders-empty {
    margin-top: 65px;
    height: 100px;
    width: 100px;
}

.order__item {
    background-color: var(--white-color);
    border-radius: 3px;
    margin-bottom: 10px;
}

.order__item-header {
    margin: 0 15px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--smoky-gray-color);
}

.text-pink {
    color: var(--pink-color) !important;
}

.text-lightblue {
    color: var(--lightblue-color) !important;
}

.text-blue {
    color: var(--blue--color) !important;
}

.order__item-btn {
    text-decoration: none;
    color: var(--lightblue-color);
    cursor: pointer;
    font-size: 12px;
    padding: 5px 15px;
    border-radius: 3px;
    border: 1px solid var(--lightblue-color);
    background-color: var(--white-color);
}

.order__item-title {
    font-size: 14px;
    color: var(--text-gray-color);
}

.order__item-title i {
    margin-right: 3px;
}

.order__item-products {
    margin: 0 15px !important;
    padding: 5px 0;
    border-bottom: 1px solid var(--smoky-gray-color);

}

.order__item-image {
    display: flex;
    align-items: center;
}

.order__item-img {
    height: 100px;
    width: 100px;
    object-fit: scale-down;
}

.order__item-infor {
    font-size: 14px;
}

.order__item-name {
    color: var(--text-color);
    margin-bottom: 10px;
}

.order__item-quantity {
    color: var(--text-gray-color);
}

.order__item-price {
    font-size: 14px;
    color: var(--text-color);
    text-align: end;
}

.order__item-footer {
    padding: 15px;
    display: flex;
    justify-content: end;
}

.order__item-total {
    color: var(--text-gray-color);
    font-size: 14px;
}

.order__item-total span {
    font-size: 16px;
    color: var(--text-color);
}

.ratting__item-btn {
    margin-top: 10px;
    color: var(--pink-color);
    cursor: pointer;
    font-size: 12px;
    padding: 5px 15px;
    border-radius: 3px;
    border: 1px solid var(--pink-color);
    background-color: var(--white-color);
}

.form-evaluate-cushion {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.ratting__item-checkout {
    display: none;
}

.ratting__checkout-group {
    margin-top: 10px;
}

/* form đánh giá */

.form-evaluate {
    width: 350px;
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    background-color: var(--white-color);
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, .1);
}

.form-evaluate-stars {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 40px 20px;
    color: var(--grey-color);
}

.form-evaluate-star {
    display: none;
}

.evaluate-star-icon {
    transition: all .5s;
    font-size: 30px;
}

.evaluate-star-icon:hover {

    cursor: pointer;
}

.form-evaluate-stars :checked~.star-label {
    color: gold;
}

.form-evaluate-title {
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-evaluate-span {
    font-size: 25px;
    border-bottom: 8px solid var(--star-background);
    font-weight: bolder;
    padding: 10px 0;
}

.close-evaluate {
    color: var(--text-color);
    font-size: 25px;
    padding: 5px 8.6px;
    border-radius: 20px;
    cursor: pointer;
}

.close-evaluate:hover {
    background-color: var(--lightwhite-color);
}

.form-evaluate-group {
    text-align: start;
}

.form-evaluate-text {
    font-size: 14px;
    color: var(--text-color);
    font-weight: 500;
}

.form-evaluate-textarea {
    margin-top: 10px;
    border: 1px solid var(--text-color);
    border-radius: 3px;
    width: 100%;
    padding: 5px;
    outline: none;
    resize: none;
    height: 150px;
    color: var(--text-color);
    font-size: 14px;
}

.form-evaluate-submit {
    padding-top: 15px;
    display: flex;
    justify-content: right;
}

.btn-evaluate {
    cursor: pointer;
    font-size: 16px;
    border-radius: 3px;
    border: none;
    padding: 10px 0;
    width: 50%;
    background-color: var(--pink-color);
    color: var(--text-color);
    font-weight: 500;
}

.btn-evaluate:hover {
    background-color: var(--text-color);
    color: var(--white-color);
}

.evaluate-submit {
    background-color: var(--star-background);
}

/* Profile */
.profile {
    padding: 16px;
    background-color: var(--white-color);
    border-radius: 5px;
    margin-bottom: 20px;
}

.profile-title {
    color: rgb(100, 100, 109);
    font-size: 16px;
}

.profile__form {
    padding-top: 15px;
}

.profile__form-link {
    cursor: pointer;
    border-radius: 100px;
    position: relative;
}

.profile__form-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 16px;
    color: var(--text-color);
    transform: translate(-50%, -50%);
    display: none;
}

.profile__form-link:hover {
   background-color: var(--lightwhite-color);
}

.profile__form-link:hover .profile__form-icon {
    display: block;
}

.profile__form-info {
    display: flex;
    align-items: center;
}

.profile__form-avatar {
    display: flex;
    padding: 25px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 3px solid var(--lightblue-color);
}

.profile__form-img {
    height: 50px;
    width: 50px;
}

.profile__form-name {
    width: 100%;
    display: flex;
    align-items: center;
}

.profile__form-label {
    font-size: 14px;
    color: var(--text-color);
    padding: 0 15px;
    width: 100px;
}

.profile__form-input {
    flex: 1;
    font-size: 14px;
    padding: 8px;
    outline: none;
    border-radius: 3px;
    color: var(--text-color);
    border: 1px solid var(--lightblue-color);
}

.profile__form-control {
    margin-top: 25px;
    width: 100%;
    display: flex;
    align-items: center;
}

.profile__form-group {
    display: flex;
    align-items: center;
}

.profile__form-sex {
    font-size: 14px;
    color: var(--text-color);
    padding: 10px 30px 10px 0;
}

.profile__form-footer {
    margin-top: 25px;
    display: flex;
    justify-content: end;
}

.profile__form-btn {
    cursor: pointer;
    padding: 10px 35px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: var(--white-color);
    background-color: var(--blue--color);
}

.profile-group {
    
}

.profile-item {
    display: flex;
    align-items: flex-start;
    padding: 20px 0;
}

.profile-item__icon {
    font-size: 16px;
    color: var(--grey-color);
    padding-right: 10px;
}

.profile-item__group {
    font-size: 14px;
    color: var(--text-color);
    flex: 1;
}

.profile-item_phone {
    padding-top: 10px;
}

.profile-item__btn {
    cursor: pointer;
    background-color: var(--white-color);
    border-radius: 3px;
    padding: 5px 15px;
    color: var(--lightblue-color);
    font-size: 14px;
    border: 1px solid var(--lightblue-color);
}

.pl-10 {
    padding-left: 20px;
}

/* Detail Order */

.orderdetail__main {
    background: var(--white-color);
    min-height: 300px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 3px;
}

.order__tracking {
    display: flex;
    padding: 15px 0;
}

.order__tracking-point {
    position: relative;
    flex: 1;
    text-align: center;
}

.order__tracking-spoint {
    position: relative;
    flex: 1;
    text-align: center;
}

.order__tracking-pointf {
    position: relative;
    flex: 1;
    text-align: center;
}

.point-style {
    border-radius: 25px;
    font-size: 20px;
    padding: 5px 7px;
    background: var(--lightblue-color);
    color: var(--white-color);
    position: sticky;
    z-index: 2;
}

.order__tracking-point::after {
    position: absolute;
    content: '';
    z-index: 1;
    top: 6px;
    right: 50%;
    width: 100%;
    height: 10px;
    background-color: var(--lightblue-color);
}

.order__tracking-pointf::after {
    position: absolute;
    content: '';
    z-index: 1;
    top: 6px;
    right: 50%;
    width: 100%;
    height: 10px;
    background-color: var(--grey-color);
}

.point-default {
    border-radius: 25px;
    font-size: 20px;
    padding: 5px 7px;
    background: var(--grey-color);
    color: var(--white-color);
    position: sticky;
    z-index: 2;
}

.order__tracking-infor {
    display: flex;
}

.order__tracking-group {
    flex: 1;
    text-align: center;
    margin-top: 50px;
}

.order__tracking-img {
    height: 50px;
    width: 50px;
}

.order__tracking-text {
    font-size: 16px;
    color: var(--text-color);
    padding: 5px 0;
}

.order__tracking-date {
    font-size: 12px;
    color: var(--text-gray-color);
}

.order__detail-including {
    padding: 15px 0;
}

.order__detail-title {
    padding: 10px 25px;
    font-size: 16px;
    color: var(--text-color);
}